@model DemoSolution.Web.ViewModels.ClientDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Cars</h4>
<hr />
<table class="table">
<thead>
     <tr>
         <th>
             @Html.DisplayNameFor(model => model.Id)
             <input asp-for="Id" class="form-control" readonly="@(true)" />
         </th>
         <th>
             @Html.DisplayNameFor(model => model.FirstName)
             <input asp-for="FirstName" class="form-control" readonly="@(true)" />
         </th>
         <th>
             @Html.DisplayNameFor(model => model.Surname)
             <input asp-for="Surname" class="form-control" readonly="@(true)" />
         </th>
         <th>
             @Html.DisplayNameFor(model => model.PlateName)
             <input asp-for="PlateName" class="form-control" readonly="@(true)" />
         </th>
     </tr>
    </thead>
    </table>

    <table class="table">
        <tbody>
            @foreach (var item in Model.Cars)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrandName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientId)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
