@model DemoSolution.Web.ViewModels.ClientDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Clients</h4>
<hr />

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FirstName)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.FirstName)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Surname)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Surname)</dd>
</dl>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("ID:  ")
            </th>
            <th>
                @Html.DisplayName("BrandName:  ")
            </th>
            <th>
                @Html.DisplayName("Model:  ")
            </th>
            <th>
                @Html.DisplayName("ClientID:  ")
            </th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model.Cars)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
